extends layout

block content
	.container
		.page-header
			h1 Welcome #{user.username}
		.row
			#content.span10
				h3 Homework Management System
				a(href='/createhomework', class='text-center') Create a new homework
				table#homeworks.table.table-striped
					thead
						th Homework
						th Requirement
						th Start Date
						th Due Date
					tbody
						for hw in hws
							tr
								td: a #{hw.name}
								td #{hw.requirement}
								td #{moment(hw.startDate).format("YYYY-MM-DD HH:mm:ss")}
								td #{moment(hw.deadline).format("YYYY-MM-DD HH:mm:ss")}

